
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #022457, #04132c);
  color: #fff;
}

header {
  background-color: #0f186d;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-text {
  margin: 10px;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#hamburger-menu {
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  padding: 0;
  position: relative;
}

#mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #101880;
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
  text-align: right;
  z-index: 1;
}

#mobile-menu.active {
  display: block;
}

#mobile-menu li {
  margin-bottom: 10px;
}

.menu-item {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 0px;
  margin-right: 10px;
  margin-left: auto;
  text-align: right;
  font-size: small;
}

.hidden {
  display: none;
}

.portfolio-heading-text {
  text-align: center;
}

.highlight {
  color: #427ace;
}

.image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.word {
  margin-right: 210px;

}

.surfer-image {
  position: absolute;
  top: 600px;
  right: 10px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.dots-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin-left: 350px;
  margin-top: 180px;
}

.white-line,
.blue-line {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.dot {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 10px; 
}

.white {
  background-color: white;
}

.blue {
  background-color: rgb(30, 205, 218);
}

.new-image {
  float: right;
  margin-left: 900px;
  margin-top: 120px;
  max-width: 300px;
  border: 1px solid #022457;
  border-radius: 5px;
}

.about-content {
  font-family: Arial, sans-serif; 
  font-size: 18px; 
  text-align: left; 
  margin-left: 20px; 
  position: absolute; 
  top: 1250px; 
  left: 30px; 
  width: 55%; 
}

.about-h2 {
  margin-bottom: 10px; 
  text-align: left; 
  font-size: 30px; 
  position: absolute; 
  left: 150px; 
  top: +1150px; 
}

.about-content {
  text-align: justify; 
  text-indent: 20px; 
  margin-bottom: 15px; 
}